.anchorProjects {
  display: block;
  position: relative;
  padding-top: 100px;
  margin-top: -100px;
  visibility: hidden;
}

.projects {
  background: $white;
  display: flex-inline;
  padding: 0 0 100px 0;

  .bulb & {
    background: $black;

    .topContent {
      .numberOne {
        color: $white;
      }
    }

    .projectsContent {
      .projects_div {
        .service_link {
          color: $white;
        }
      }
    }

    .rightArrow {
      filter: invert(100%);
    }
  }

  .topContent {
    display: inline-flex;
    .numberOne {
      font-size: 48px;
      margin: 0 0 0 -30px;
    }

    p {
      padding: 15px 15px;
      font-size: 24px;
      text-decoration: underline;
      font-weight: lighter;
    }
  }

  .projectsContent {
    //background: green;
    text-decoration: none;
    .projects_div {
      //background: hotpink;
      padding: 20px 0;

      p {
        font-size: 18px;
        font-weight: lighter;
        line-height: normal;
        // padding: 10px 0 0 0;
        //background: yellow;
      }
      .project {
        //background: forestgreen;
        //height: 90px;
        display: block;
        margin: 0 auto;
      }

      h3 {
        font-size: 24px;
        margin: 30px 0 30px 0;
        //padding: 10px;
        //text-align: center;
        //background: yellowgreen;
      }

      .service_link {
        display: flex;
        //justify-content: center;
        //background: blue;
        text-decoration: none;
        color: $black;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;

        a {
          padding: 0 0;

          line-height: normal;
          display: inline-flex;
          position: relative;
          cursor: pointer;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 4px;
            bottom: -10px;
            left: 0;
            background-color: $red;
            transform-origin: bottom;
            transition: transform 0.25s ease-out;
          }

          &:hover::before {
            transform: scaleX(1);
            transform-origin: bottom;
          }
        }
      }
      .rightArrow {
        // background: hotpink;
        display: inline-flex;
        padding: 0 10px;
        height: 22px;
        cursor: pointer;
      }
    }
  }

  @media screen and(min-width: $screen-xs) {
    //background: green;
  }

  @media screen and(min-width: $screen-sm) {
    //background: green;

    .topContent {
      .numberOne {
        font-size: 72px;
        margin: 30px 0 0 -30px;
      }
      p {
        padding: 15px 15px;
        margin: 30px 0 30px 0;
        font-size: 48px;
      }
    }

    .projectsContent {
      //background: yellow;
      .projects_div {
        p {
          font-size: 24px;
          padding: 10px 0;
        }

        h3 {
          padding: 10px 0 0 0;
          font-size: 36px;
        }

        .service_link {
          //background: red;
          font-size: 24px;
        }
        .rightArrow {
          margin: auto 0;
        }
      }
    }
  }

  @media screen and(min-width: $screen-md) {
    //background: orange;

    .topContent {
      .numberOne {
        font-size: 144px;
        margin: 40px 0 0 -100px;
      }
      p {
        padding: 40px 15px;
      }
    }

    .projectsContent {
      //background: red;
      .projects_div {
        p {
          font-size: 36px;
          padding: 40px 0 0 0;
        }

        h3 {
          font-size: 48px;
        }

        .project {
          height: 400px;
          width: auto;
        }
        .service_link {
          //background: blue;
          font-size: 36px;
        }

        .rightArrow {
          height: 44px;
          margin: 4px 0;
        }
      }
    }
  }
}

.otherProjects {
  background: $white;
  display: flex-inline;
  padding: 50px 0 100px 0;

  .bulb & {
    background: $black;

    .topContent {
      .numberOne {
        color: $white;
      }
    }

    .projectsContent {
      .projects_div {
        .service_link {
          color: $white;
        }
      }
    }

    .rightArrow {
      filter: invert(100%);
    }
  }

  .topContent {
    display: inline-flex;
    .numberOne {
      font-size: 48px;
      margin: 0 0 0 -30px;
    }
    p {
      padding: 15px 15px;
      font-size: 24px;
      text-decoration: underline;
      font-weight: lighter;
    }
  }

  .projectsContent {
    //background: green;
    text-decoration: none;
    .projects_div {
      //background: hotpink;
      padding: 20px 0;

      p {
        font-size: 18px;
        font-weight: lighter;
        line-height: normal;
        // padding: 10px 0 0 0;
        //background: yellow;
      }
      .project {
        //background: forestgreen;
        //height: 90px;
        display: block;
        margin: 0 auto;
      }

      h3 {
        font-size: 24px;
        margin: 30px 0 30px 0;
        //padding: 10px;
        //text-align: center;
        //background: yellowgreen;
      }

      .service_link {
        display: flex;
        //justify-content: center;
        //background: blue;
        text-decoration: none;
        color: $black;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;

        a {
          padding: 0 0;

          line-height: normal;
          display: inline-flex;
          position: relative;
          cursor: pointer;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 4px;
            bottom: -10px;
            left: 0;
            background-color: $red;
            transform-origin: bottom;
            transition: transform 0.25s ease-out;
          }

          &:hover::before {
            transform: scaleX(1);
            transform-origin: bottom;
          }
        }
      }
      .rightArrow {
        // background: hotpink;
        display: inline-flex;
        padding: 0 10px;
        height: 22px;
        cursor: pointer;
      }
    }
  }

  @media screen and(min-width: $screen-xs) {
    //background: green;
  }

  @media screen and(min-width: $screen-sm) {
    //background: green;

    .topContent {
      .numberOne {
        font-size: 72px;
        margin: 30px 0 0 -30px;
      }
      p {
        padding: 15px 15px;
        margin: 30px 0 30px 0;
        font-size: 48px;
      }
    }

    .projectsContent {
      //background: yellow;
      .projects_div {
        p {
          font-size: 24px;
          padding: 10px 0;
        }

        h3 {
          padding: 10px 0 0 0;
          font-size: 36px;
        }

        .service_link {
          //background: red;
          font-size: 24px;
        }
        .rightArrow {
          margin: auto 0;
        }
      }
    }
  }

  @media screen and(min-width: $screen-md) {
    // background: orange;

    .topContent {
      .numberOne {
        font-size: 144px;
        margin: 40px 0 0 -100px;
      }
      p {
        padding: 40px 15px;
      }
    }

    .projectsContent {
      //background: red;
      .projects_div {
        p {
          font-size: 36px;
          padding: 40px 0 0 0;
        }

        h3 {
          font-size: 48px;
        }

        .project {
          height: 400px;
          width: auto;
        }
        .service_link {
          //background: blue;
          font-size: 36px;
        }

        .rightArrow {
          height: 44px;
          margin: 2px 0;
        }
      }
    }
  }
}
